@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');


#map {min-height: 360px;} 




/*-----------------Backgrounds*/
.search-container {
    width: 100%;
    height: 100vh;
    background: url("../images/landing.jpg") no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
}

.package-two-bg {
   width: 100%;
   height: 100%;
   /* background: url("../images/darksea.jpg") no-repeat center fixed;*/
   background-color: #ffc107c2;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
}

.package-one-bg {
    width: 100%;
   height: 100%;
    /*background: url("../images/darkSky.jpg") no-repeat center fixed;*/
    background-color: #1448b0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
}

.search-background{
   width: 100%;
   height: 100%;
   /*background: url("../images/whitewall.jpg") no-repeat center fixed;*/
   background-color: #1448b0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
}

.bg-color-map {

    background-color: #f4f4f4;

}

.bg-color-attraction{
    background-color: #f4f4f4;
}

.pack-style{
    
     color: #ffff;
}







/*-----------------navbar*/


.menuitem {
    color: #ea9116;
    font-family: fantasy;
}

.bg-dark-taylor {
    background-color: rgba(0, 0, 0, 0.33);
}

.stay-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1047;
}
  
/*-----------------search*/
.no-date{
    visibility: hidden;
}


.criteria-shape{
    margin: 10;
    padding: 10;
    text-align: center;
    background-color: #4750ff2b;
    font-family: sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.search-style {
    list-style-type: none;
}

.search-style li {
    display: inline-block;
    padding-top: 10px;
    border-radius: 23px;
}


.btn--cta {
    font-weight: bold;
    border-radius: 23px;
    display: inline-block;
    }
    
.btn--color {
    color: white;
    background-color: #ea9116;
    border-color: #ea9116;
    margin: 2px;
    }

.hvr-sweep-to-bottom:before {

    background: rgba(0, 0, 0, 0.2);

    height: 50px;

}

/*-----------------Packages*/

.all-packs{
    visibility: hidden;
}
.btn--cta {
    font-weight: bold;
    border-radius: 23px;
    height:50px;
    width: 150px;
    }

.btn--red {
    color: white;
    background-color: #ea9116;
    border-color: #ea9116;
    margin: 10px;

}

.hotel-text {
    font-size: 30px;
    color: #ffff;
}

.hotel-detail-text {
    font-size: 15px;
    color: #ffff;
}


.hotel-icon {

    font-size: 50px;

    color: #e67e22;

}

.hotel-detail-icon {

    font-size: 25px;

    color: #e67e22;

}

.book_button{
    height:50px;
    width: 150px;
    margin: auto;
    margin-right:10px;
    padding-bottom:10px:
    float:left;
    
}

.hotel-pic{
    width: 90%;
    height: 90%;
}

.error-msg{
    font-size: 30px;
    background-color: white;
}

/*-----------------attractions*/


.att-element-style{
    display: inline-block;
}




/*-----------------footer*/

#footerdetails {
    padding: 20px;
    background-color: #cacfd5;
}

.music-dowload i {
    font-size: 18px;
    color: #8f8f8f;
    text-align: center;
    padding-left: 5px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.music-dowload i:hover {
    color: #e84610;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background-color: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background-color: #e84610;
}


/*--------------------------------------------Media Queries*/



@media(min-width: 992px) {

    .section-column {

        padding: 0 30px 30px;

        float: none;

        display: table-cell;

    }
}


.row.no-pad {
  margin-right:0;
  margin-left:0;
}