@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');


#map {min-height: 360px;} 

/*-----------------Backgrounds*/
.search-container {
    height: 100vh;
    background: url("../images/landing.jpg") no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


.bg-color-map {

    background-color: #f4f4f4;

}

.bg-color-attraction{
    background-color: #f4f4f4;
}

/*-----------------header*/


.menuitem {
    color: #f05f40;
    font-family: fantasy;
}

.bg-dark-taylor {
    background-color: rgba(0, 0, 0, 0.33);
}

.stay-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1047;
}
  
/*-----------------search*/

.criteria-shape{
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #4750ff2b;
    font-family: sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.criteria-item {
    position: relative;
    display: inline-block;
    font-size: 20px;
    box-sizing: border-box;
    transition: .5s;
}




.btn--cta {
    font-weight: bold;
    border-radius: 23px;
    }
    
.btn--color {
    color: white;
    background-color: #f05f40;
    border-color: #f05f40;
    margin: 2px;
    }

/*-----------------attractions*/

.attraction-shape{
  margin: auto;
  width: 60%;
  padding: 10px;
}

/*-----------------footer*/

#footerdetails {
    padding: 20px;
    background-color: #cacfd5;
}

.music-dowload i {
    font-size: 18px;
    color: #8f8f8f;
    text-align: center;
    padding-left: 5px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.music-dowload i:hover {
    color: #e84610;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background-color: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background-color: #e84610;
}


/*--------------------------------------------Media Queries*/



@media(min-width: 992px) {

    .section-column {

        padding: 0 30px 30px;

        float: none;

        display: table-cell;

    }
}